* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(to left, #200A4C, #3463BC);
    color: #FFFFFF;
    font-size: 24px;
    padding: 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header #header-links {
    position: absolute;
    left: 20px;
    margin-top: 10px;
}

header #header-links a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 15px;
}

header h1 {
    text-align: center;
}

main {
    flex: 1;
    display: flex;
}

#city-list {
    margin: 20px;
    width: 12%;
}

#search-box {
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

#search-box input {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#search-box button {
    display: block;
    width: 100%;
    background-color: #5098E6;
    color: #FFFFFF;
    margin-top: 5px;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
}

.button {
    display: block;
    width: 100%;
    background-color: #aeaeae;
    color: #000000;
    margin-top: 5px;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#weather {
    margin: 20px;
    width: 85%;
}

#current-weather {
    height: 100%;
    border: 1px solid #000000;
    height: 200px;
    padding: 10px 0 0 10px;
}

#future-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 50px;
}

#future-weather div {
    display: flex;
    flex-direction: column;
    background-color: #2D3E50;
    color: #FFFFFF;
    width: 190px;
    height: 230px;
}

#future-weather div > * {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}

#future-weather div img {
    width: 60px;
}

footer {
    width: 100%;
    padding: 30px;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(to left, #200A4C, #3463BC);
}

footer p {
    margin: 10px;
}