* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(to left, #200A4C, #3463BC);
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#city-list {
    margin-top: 20px;
    margin-left: 20px;
    width: 12%;
}

#search-box {
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

#search-box input {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

#search-box button {
    display: block;
    width: 100%;
    background-color: #5098E6;
    color: #FFFFFF;
    margin-top: 5px;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
}

.button {
    display: block;
    width: 100%;
    background-color: #aeaeae;
    color: #000000;
    margin-top: 5px;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}