* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(to left, #200A4C, #3463BC);
    color: #FFFFFF;
    font-size: 24px;
    padding: 15px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header #header-links {
    position: absolute;
    left: 20px;
    margin-top: 10px;
}

header #header-links a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 15px;
}

header h1 {
    text-align: center;
}

main {
    flex: 1;
    display: flex;
}

#previous_searches {
    flex-grow: 1;
    flex-wrap: wrap;
}

#previous_searches {
    display: flex;
    max-height: 200px;
    width: 80%;
    overflow: hidden;
}

footer {
    width: 100%;
    padding: 30px;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(to left, #200A4C, #3463BC);
}

footer p {
    margin: 10px;
}